/* ChangePassword.css */

.changepassword-container {
    padding-left: 15px;
    padding-top: 25px;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

.pass-text {
    margin-top: 10px;
    outline: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

@media only screen and (max-width: 600px) {

    /* Adjust styles for screens with a maximum width of 600 pixels */
    .changepassword-container {
        padding-left: 15px;
        padding-top: 25px;
    }
}